/* Variables */
:root {
    --linear-right: linear-gradient(90deg, #291ACB 0%, #8850FF 100%);
    --linear-bottom: linear-gradient(180deg, #291ACB 0%, #8850FF 100%);
    --linear-white: linear-gradient(180deg, #fff 0%, #fff 100%);
    --bg-linear: linear-gradient(90deg, rgba(41, 26, 203, 0.03) 0%, rgba(41, 26, 203, 0.03) 100%);
}

/* Normalize default styles */

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

* {
    margin: 0;
    padding: 0;
}
body,
html,
.__root {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    line-height: 1.1;
    font-family: 'Work Sans', sans-serif;
}
a {
    color: inherit;
    text-decoration: none;
    transition: 200ms ease;
}

a:hover {
    color: #000;
}

img,
svg {
    width: 100%;
    height: 100%;
}
ul {
    list-style: none;
}

button {
    outline: none;
    background: var(--linear-right);
    padding: 1.2rem 2.5rem;
    font-size: .9rem;
    border-radius: 99999999px;
    color: #fff;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform 200ms ease;
}
button.secondary {
    background: #E4EAFF;
    color: #291ACB;
    font-weight: 600;
}

.button {
    cursor: pointer;
    transition: transform 200ms ease;
}
button:active,
.button:active {
    transform: scale(.99);
}

/* Reused Styles */
.flex {
    display: flex;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-col-end {
    display: flex;
    flex-direction: column;
    align-items: end;
}
.flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.justify-space {
    justify-content: space-between;
}
.container {
    padding-left: clamp(90px, 10vw, 12rem);
    padding-right: clamp(90px, 10vw, 12rem);
}
.gradient {
    background: var(--linear-right);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


header,
.banner,
.banner .banner-image-container,
.banner .banner-text,
section.about .about-cover,
section.careers main {
    height: 100%;
}


.banner .banner-image-container {
    padding-left: 0;
}
.banner .banner-text .banner-text-inner {
    padding-right: .5rem;
}

/* MAX-SIZE */
.max-layout {
    margin: 0 auto;
    max-width: 1440px;
}

/* Default Style */
.icon {
    display: inline-block;
}

section,
footer {
    padding: 7rem 0;
}
section header,
.title {
    margin-bottom: 3rem;
}
section > header {
    text-align: center;
}
section > header p {
    margin: 0 auto;
}

section header h1,
.title h1 {
    font-size: 2.3rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
section header .gradient,
.title .gradient {
    background: var(--linear-right);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

section header p,
.title p {
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.65rem;
    max-width: 37.125rem;
    color: #534C64;
}
.logo {
    font-size: 1.7rem;
    font-weight: 700;
}
.logo span {
    background: var(--linear-bottom);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #291ACB;
}
.logo .logo-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: .5rem;
}

/* Header */

header nav {
    padding: 1rem 0;
    background-color: #fff;
    gap: 1.5rem;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

header nav ul {
    gap: 1.5rem;
}
header nav ul li,
header nav ul li a {
    color: #3C354F;
    font-size: .95rem;
    font-weight: 500;
}
header nav ul li.follow {
    border-radius: 0.5rem;
    background: rgba(11, 2, 35, 0.10);
    padding: .85rem 1.5rem;
    gap: .5rem;
}
header nav ul li.follow a:first-child {
    margin-left: 1rem;
}

header nav ul li span.nav-icon {
    width: 2rem;
    height: 1.5rem;
}

/* Banner */
.banner .banner-text {
    width: 40%;
    background: url("../assets/static/media/images/Group\ 14.png") right / cover no-repeat;
}
.banner .banner-image-container {
    width: 60%;
}
.banner .banner-image-container .banner-image {
    height: 100%;
    width: 100%;
    background: url("../assets/static/media/images/Group\ 18.png") bottom / contain no-repeat;
}
.banner .banner-text h4 {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: uppercase;
}
.banner .banner-text .banner-heading {
    margin-bottom: 1.5rem;
}
.banner .banner-text .perks {
    margin-bottom: 2rem;
}
.banner .banner-text h1 {
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    background: var(--linear-right);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #291ACB;
}

.banner .banner-text .perks li {
    color: #534C64;
    font-size: .95rem;
    font-weight: 500;
    text-transform: lowercase;
    gap: .5rem;
}
.banner .banner-text .perks li .icon {
    width: 1.45rem;
    height: 1.45rem;
}
.banner .banner-text button:first-child {
    margin-right: 1rem;
}



/* ABOUT SECTION */
section.about {
    background: var(--bg-linear);
}
section.about .about-cover {
    width: 60%;
}
section.about .about-info {
    width: 40%;
}
section.about .about-info,
section.about .about-info .title {
    text-align: right;
}
section.about .about-slug {
    margin-top: 2rem;
    color: #534C64;
}
section.about .about-slug h4 {
    font-size: .95rem;
    font-weight: 500;
}
section.about .about-slug h2 {
    font-size: 1.35rem;
    font-weight: 700;
}


/* VIDEO SECTION */
section.videos-showcase main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

section.videos-showcase main figure.video-card .video-image,
section.videos-showcase main figure.video-card .video-image img {
    position: relative;
    border-radius: .5rem;
    cursor: pointer;
}
section.videos-showcase main figure.video-card .video-image {
    padding: .15rem;
    transition: background 500ms ease;
    background: var(--linear-white)
}
section.videos-showcase main figure.video-card .video-image .video-overlay {
    margin: .15rem;
    border-radius: .5rem;
    position: absolute;
    inset: 0;
    z-index: 1;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.60);
    text-align: center;
    color: #fff;
    will-change: opacity;
    transition: opacity 200ms ease;
}
section.videos-showcase main figure.video-card .video-image .video-overlay > * {
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 200ms ease, opacity 200ms ease;
}
section.videos-showcase main figure.video-card .video-image:hover .video-overlay > * {
    opacity: 1;
    transform: translateY(0);
}

section.videos-showcase main figure.video-card .video-image:hover {
    background: var(--linear-right);
}
section.videos-showcase main figure.video-card .video-image:hover .video-overlay {
    opacity: 1;
}
section.videos-showcase main figure.video-card .video-image .video-overlay .icon {
    display: block;
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
    margin-bottom: 2rem;
}

section.videos-showcase main figure.video-card figcaption {
    color: #534C64;
    font-size: .95rem;
    font-weight: 500;
    margin-top: 1rem;
}

/* AVAIL SECTION */
section.avail .avail-cover .avail-cover-image {
    width: 90%;
    position: relative;
}
section.avail .avail-cover .small-image {
    position: absolute;
}
section.avail main .image-container {
    border-radius: .5rem;
    overflow: hidden;
}
section.avail main .image-container:last-child {
    background-color: #fff;
    padding: .25rem;
}
section.avail main > div:first-child .avail-info .title p {
    margin-left: auto;
}
section.avail main > div:first-child .avail-cover .avail-cover-image {
    margin-left: auto;
}
section.avail main > div,
section.avail main > div:last-child .avail-cover {
    margin-bottom: 5rem;
}
section.avail main .avail-cover {
    width: 50%;
}
section.avail main .avail-info {
    width: 40%;
}
section.avail main > div:first-child .avail-cover .small-image {
    bottom: 0;
    left: 0;
    width: 40%;
    transform: translate(-30px, 20px);
}
section.avail main > div:first-child .title {
    text-align: right;
}
section.avail main > div:last-child .avail-cover .small-image {
    bottom: 0;
    right: 0;
    width: 40%;
    transform: translate(30px, 20px);
}

/* CAREERS SECTION */
section.careers {
    color: #fff;
    background: linear-gradient(90deg, #291ACB 0%, #291ACB 100%);
    padding: 0;
}
section.careers main {
    display: grid;
    grid-template-columns: 60% 40%;
}
section.careers .career-info .title {
    text-align: left;
}
section.careers .career-info {
    padding-top: 7rem;
    padding-bottom: 7rem;
    padding-right: 5rem;
}
section.careers .career-info .title p {
    color: #fff;
    margin: 0;
}
section.careers .career-info .career-location ul {
    font-size: .85rem;
    font-weight: 600;
    line-height: 2rem;
}
section.careers .career-info .career-location ul.location {
    text-align: right;
}
section.careers .career-info .career-location ul:first-child li::after {
    content: '+';
}
section.careers .career-info button {
    margin-top: 2rem;
}
section.careers .career-cover {
    background: url("../assets/static/media/images/Vector\ 3.png") left / cover no-repeat;
    height: 100%;
}
section.careers .career-cover figure {
    padding: 2rem 0;
    height: 100%;
}
section.careers .career-cover figure img {
    object-fit: contain;
    object-position: center;
}
/* GENRE SECTION */
section.genre {
    color: #0B0223;
    font-size: .95rem;
    font-weight: 600;
    background: var(--bg-linear);
}
section.genre main {
    flex-wrap: wrap;
    gap: 2rem;
}

section.genre .genre-card .genre-card-inner {
    position: relative;
    padding: .75rem 1rem;
    border-radius: 9999px;
    overflow: hidden;
    gap: .85rem;
    cursor: pointer;
}
section.genre .genre-card .genre-card-inner::before,
section.genre .genre-card .genre-card-inner::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 9999px;
    background: var(--linear-right);
    z-index: -2;
}
section.genre .genre-card .genre-card-inner::before {
    opacity: 0;
    will-change: opacity;
    transition: opacity 200ms ease;
}
section.genre .genre-card .genre-card-inner::after {
    z-index: -1;
    margin: .15rem;
    background: #fff;
}
section.genre .genre-card .icon {
    width: 2.35rem;
    height: 2.35rem;
    border-radius: 50%;
    overflow: hidden;
}

section.genre .genre-card .text {
    background: linear-gradient(90deg, #000 0%, #000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
    transition: background 200ms ease;
    
}
section.genre .genre-card:hover .text {
    background: var(--linear-right);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #000;
}
section.genre .genre-card:hover .genre-card-inner::before {
    opacity: 1;
}
/* FOOTER */
footer {
    background-color: #0B0223;
    color: #fff;
}

footer ul {
    margin: 3rem 0;
    gap: 2rem;
}
footer ul li a:hover {
    color: inherit;
}
footer .footer-link ul li .icon {
    width: 1.7rem;
    height: 1.7rem;
}
footer .legal {
    margin-top: 3rem;
    color: rgba(255, 255, 255, 0.60);
    font-size: .85rem;
    font-weight: 500;
    text-align: center;
}

/* responsive */
@media (max-width: 1024px) {
    .container {
        padding-left: clamp(30px, 4vw, 5rem);
        padding-right: clamp(30px, 4vw, 5rem);
    }
    header .banner {
        flex-direction: column-reverse;
    }
    header .banner .banner-text {
        justify-content: center;
        padding: 1rem 0;
    }
    header .banner .banner-text,
    header .banner .banner-image-container {
        width: 100%;
    }
    .banner .banner-text h4 {
        font-size: 2rem;
    }
    .banner .banner-text .banner-heading {
        text-align: center;
    }
    .banner .banner-text h1 {
        font-size: 4rem;
    }
    .banner .banner-text .banner-text-inner,
    section.careers .career-info,
    section.careers .career-cover  {
        padding-right: clamp(30px, 4vw, 5rem);
    }

    section.careers .career-cover {
        padding-left: clamp(30px, 4vw, 5rem);
    }
    .banner .banner-image-container,
    section.careers .career-info {
        padding-left: clamp(30px, 4vw, 5rem);
    }
    .banner .banner-text .perks li {
        justify-content: center;
        font-size: .85rem;
    }
}
@media (max-width: 640px) {
    header nav,
    section.about,
    section.avail main > div {
        flex-direction: column;
    }
    section.careers main {
        grid-template-columns: 1fr;
    }
    section.careers .career-info,
    section.careers .career-cover,
    section.avail main .avail-cover,
    section.avail main .avail-info {
        width: 100%;
    }
    
    header nav ul.flex-space,
    footer ul {
        flex-wrap: wrap;
        justify-content: center;
    }
    header nav ul li.follow,
    section.about .about-cover,
    section.about .about-info {
        width: 100%;
    }
    header nav ul li.follow {
        justify-content: center;
    }
    section.about .about-info,
    section.about .about-info .title {
        align-items: center;
        text-align: center;
    }
    section.about .about-info h4 {
        font-size: .85rem;
    }
    section.about .about-info h2 {
        font-size: 1rem;
    }
    button {
        font-size: calc(.75rem + .1vw);
        padding: 1.2rem 2rem;
    }
    section.videos-showcase main {
        grid-template-columns: 1fr;
    }
    section.careers .career-info .career-location ul {
        font-size: .55rem;
    }
}
